server:
  port: 9001

spring:
  application:
    name: Customer-Service
  zipkin:
    base-url: http://127.0.0.1:9411/

ngen:
  customerAddressUrl: http://CUSTOMER-ADDRESS-SERVICE/address/customer/
#management:
#  health:
#    circuit-breakers:
#      enabled: true
#  endpoints:
#    web:
#      exposure:
#        include: health
#  endpoint:
#    health:
#      show-details: always
#
#
#resilience4j:
#  circuitbreaker:
#    instances:
#      customerAddressApi:
#        registerHealthIndicator: true
#        eventConsumerBufferSize: 10
#        failureRateThreshold: 50
#        minimumNumberOfCalls: 5
#        automaticTransitionFromOpenToHalfOpenEnabled: true
#        waitDurationInOpenState: 5s
#        permittedNumberOfCallsInHalfOpenState: 3
#        slidingWindowSize: 10
#        slidingWindowType: COUNT_BASED